
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.page-1-4fP {
  background-color: #ffffff;
  width: 100%;
  height: 321.6rem;
  position: relative;
  overflow: hidden;

  .enabled-left-icon-1-EyB {
    left: 2.1rem;
    align-items: center;
    box-shadow: 0 0.3594rem 0.2875rem rgba(0, 0, 0, 0.150000006);
    background-color: #e0a13c;
    box-sizing: border-box;
    padding: 0.893rem 1.797rem 0.894rem 1.828rem;
    width: 11.5375rem;
    height: 3.45rem;
    position: absolute;
    top: 68.4rem;
    display: flex;
    border-radius: 1.4375rem;

    .item-36-4DT {
      flex-shrink: 0;
      margin-right: 0.7499rem;
      width: 1.6629rem;
      height: 1.6629rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .view-map-ujs {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0001rem;
      font-size: 1.15rem;
      font-weight: 500;
    }
  }
  .frame-3-StD {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    height: 324.8rem;
    position: absolute;
    left: 0;
    top: 0;

    .auto-group-fs1j-iqj {
      width: 100%;
      background-position: center;
      box-sizing: border-box;
      padding: 70.8rem 2.6rem 7.25rem 2.6rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:73441483a2a1dedc6c2853ea43b27475ee22f776');
      flex-shrink: 0;
      height: 81.2rem;
      background-size: 100% 100%;

      .enabled-left-icon-3-cAR {
        padding: 0.731rem 1.86rem 0.732rem 1.892rem;
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        width: 11.7rem;
        display: flex;
        box-shadow: 0 0.3646rem 0.2917rem rgba(0, 0, 0, 0.150000006);
        background-color: #e0a13c;
        border-radius: 1.4583rem;

        .item-36-UTX {
          height: 1.687rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7607rem;
          width: 1.687rem;
        }
        .view-map-Wv1 {
          font-weight: 500;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1001rem;
          font-size: 1.1667rem;
        }
      }
    }
    .group-1-FWD {
      width: 100%;
      align-items: center;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:30bedc3deb317b8dc502f23ebd5b8bf5ae6c90d6');
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 65.363rem 15.458rem 2.014rem 15.5rem;
      display: flex;
      flex-direction: column;

      .enabled-left-icon-4-95o {
        box-sizing: border-box;
        padding: 0.55rem 1.024rem 0.55rem 1.042rem;
        box-shadow: 0 0.2049rem 0.1639rem rgba(0, 0, 0, 0.150000006);
        border-radius: 0.8194rem;
        flex-shrink: 0;
        margin-bottom: 9.7264rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #e0a13c;

        .item-36-1do {
          width: 0.9479rem;
          height: 0.9479rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4275rem;
        }
        .view-map-KPb {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.0001rem;
          font-size: 0.6555rem;
          font-weight: 500;
        }
      }
      .enabled-left-icon-5-8M3 {
        box-sizing: border-box;
        padding: 0.55rem 1.024rem 0.55rem 1.042rem;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0 0.2049rem 0.1639rem rgba(0, 0, 0, 0.150000006);
        background-color: #e0a13c;
        border-radius: 0.8194rem;
        flex-shrink: 0;

        .item-36-oi5 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4275rem;
          width: 0.9479rem;
          height: 0.9479rem;
          position: relative;
        }
        .view-map-VL1 {
          font-size: 0.6555rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.0001rem;
        }
      }
    }
    .artboard-3-1-53K {
      width: 37.5rem;
      height: 81.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-jvbo-xcu {
      box-sizing: border-box;
      padding: 61.7rem 14.354rem 16.35rem 14.2rem;
      height: 81.2rem;
      background-image: url('REPLACE_IMAGE:4bc7b8ac65c03c1fb83682e8a78d5512f26fb909');
      flex-shrink: 0;
      width: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;

      .enabled-left-icon-4-EqK {
        cursor: pointer;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border-radius: 1.4583rem;
        font-weight: 500;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        font-size: 1.1667rem;
        line-height: 1.2125;
        box-shadow: 0 0.3646rem 0.2917rem rgba(0, 0, 0, 0.150000006);
        display: flex;
        justify-content: center;
        background-color: #e0a13c;
      }
    }
  }
}
